<div style="height: 1000px;">
  <!-- <div style="width: 100%;align-items: center;justify-content:center;display: flex;">
      <h3 class="display-1" style="width: 40%;text-align: center;">
        <span style="color:lightgreen; ">HEAL </span>
        <span style="color:black;">AND </span>
        <span style="color: rgba(53, 0, 128, 0.536);"> HELP</span>
      </h3>
  </div> -->
<nav class="navbar navbar-light" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo4.webp" alt="" width="40" height="40" class="d-inline-block align-text-bottom rounded-circle" />
      <span style="color:lightgreen;font-weight: bold;font-size: 35px;font-family: 'DynaPuff';font-weight: bold;"> HEAL </span>
      <span style="color:black;font-weight: bold;font-size: 35px;font-family: 'DynaPuff';">& </span>
      <span style="color: rgba(53, 0, 128, 0.536);font-weight: bold;font-size: 35px;font-family: 'DynaPuff';"> HELP</span>
    </a>
    <form class="d-flex">
      <button class="btn btn-outline-success" type="submit">Contact Us</button>
      <button class="btn btn-outline-success" type="submit" style="margin-left: 5px;">About</button>
    </form>
  </div>
</nav>
<div style="width: 100%;align-items: center;justify-content:center;display: flex;margin-top: 1%;">
    <div class="card" style="width: 35%;padding: 1.5em .5em .5em;border-radius: 10px;box-shadow: 0 5px 10px rgba(0,0,0,.2);">
      <div class="card-body">
        <h4  style="text-align: center;font-family: 'DynaPuff';font-weight: bold;">Doctor Login</h4>
         <br>
         <div style="align-items: center;justify-content:center;display: flex;width: 100%;">
            <p  style="width: 60%;;text-align: center;font: size 20px;font-family: 'Open Sans';">Hey, Enter your details here to get sign  to your account!</p>
         </div>
         <br>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label" style="font-family: 'Open Sans';">Email address</label>
          <input type="email" class="form-control" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label class="form-label" style="font-family: 'Open Sans';">Password</label>
          <input type="password" class="form-control"  placeholder="Enter Password">
        </div>
        <br>
        <div class="row" >
          <div class="col">
           <a  class="btn btn-primary" (click)="gotoPRegister()" style="width: 100%;font-family: 'Open Sans';">Sign In</a>
          </div>
          <!-- <div class="col">[routerLink]="['/patient-registration']"
           <button class="btn btn-primary" style="width: 100%;" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </div> -->
      </div>
      <div style="width: 100%;text-align:right">
        <a href="#" class="btn btn-link" style="align-items: right;font-family: 'Open Sans';">Forgot Password?</a>
      </div>

        <br>
        <br>
        <!-- <div class="row text-center">
          <div class="col-md-4">
            <span><hr class="rounded"></span>
          </div>
          <div class="col-md-4">
              <span>Or Sign In With</span>
          </div>
          <div class="col-md-4">
            <span><hr class="rounded"></span>
          </div>
        </div>
        <br>
        <div class="row" >
          <div class="col">
            <a href="#" class="btn btn-light" style="width: 100%;">Google</a>
          </div>
          <div class="col">
            <a href="#" class="btn btn-light" style="width: 100%;">Facebook</a>
          </div>
        </div>
        <br> -->
      </div>
    </div>
</div>
<br>
        <br>
        <br>
        <br>
        <br>
        <!-- <footer class="bg-light text-center text-lg-start">

          <div class="text-center p-3" style="background-color: tranparent;">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
          </div>

        </footer> -->
</div>
